<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Java Script Editor"
            extensions="js"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jsedit.editors.JavaScriptEditor"
            id="jsedit.editors.JavaScriptEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant class="jsedit.editors.JavaScriptDocumentParticipant"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="jsedit.editors.JavaScriptDocumentProvider"
            extensions="js"
            id="jsedit.editors.JavaScriptDocumentProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            class="jsedit.editors.JavaScriptAnnotationModelFactory"
            extensions="js">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="jsedit.JavaScriptLabelDecorator"
            icon="src/jsedit/checkout.gif"
            id="JSEdit.JavaScriptDecorator"
            label="Java Script Image Decorator"
            objectClass="org.eclipse.core.resources.IFile"
            state="false">
            <description>
           		The Label Decorator JavaScript Files
            </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jsedit.JavaScriptPreferencePage"
            id="JSEdit.JavaScriptEditorPreferenecePage"
            name="Java Script Preference Page">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="jsedit.JavaScriptPropertyPage"
            id="JSEdit.JavaScriptPropertyPage"
            name="Java Script Property Page"
            nameFilter="*.js">
            <enabledWhen>
            	<instanceof
                   value="org.eclipse.core.resources.IFile">
            	</instanceof>
            </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="JSEdit.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
         <action
               class="jsedit.actions.DummyAction"
               icon="icons/sample.gif"
               id="jsedit.actions.DummyAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="JSEdit.editorContribution2"
            targetID="jsedit.editors.JavaScriptEditor">
         <menu
               id="xyz"
               label="JSEDIT"
               >
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="jSEdit.EditorActionDelegate2"
               definitionId="JSEdit.command"
               icon="icons/sample.gif"
               id="JSEdit.action2"
               label="action"
               menubarPath="xyz/group1"
               style="push"
               toolbarPath="normal/additions">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="JS Commands"
            id="JSEdit.category"
            name="JSCategory">
      </category>
      <command
            category="JSEdit.category"
            categoryId="JSEdit.category"
            description="Yo my command"
            id="JSEdit.command"
            name="JSCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="JSEdit.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="JSEdit.key6"
            sequence="M1+K">
      </key>
   </extension>
   <extension
         id="error"
         name="JavaScript Error"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
   </extension>

</plugin>
